.data {
    font-family: Verdana;  
    width: 400px;
    height: 245px;
    border: 2px solid #000;
    margin: 0 auto 15px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #ddd;
    border-color: #aaa; 
  }